@font-face {
    font-family: myFont1;
    src: url("fonts/Quicksand-Light.ttf");
}


.main-container {
    display:grid;
    justify-content:center
}

.container1 {
    display:grid;
    justify-content: center;
}

h1 {
    font-family: myFont1, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.559);
}
.chip-container {
    display:flex;
    justify-content:center;
    gap:3em;
    touch-action: none;     /* May not need this */
}

#red {
    width: 2em;
    height:2em ;
    border-radius:50%;
    background-color:red;
    position:relative;
}

#black {
    width:2em;
    height:2em;
    border-radius:50%;
    background-color:rgb(0, 0, 0);
    position:relative;
    
}

.container2 {
    display:flex;
    flex-direction:row;
    width:0.5fr;
    flex-wrap: wrap;   
    gap:2px;
    max-width:15.63em;
    background-color:blue;
    margin-top:10px;
    border-style:solid;
    border-width:5px;
    border-color:blue;
    margin-bottom:5px;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.559);
    touch-action: none;      /* May not need this */
    
    
    
    
}

.box {
    background-color:rgb(251, 242, 66);
    width:2em;
    height:2em;
    border-radius:50%;
    border-style:solid;
    border-color:rgb(0, 0, 0);
    border-width:.1px;
}

.container3 {
    display:flex;
    justify-content:center;
    gap:.5em;
    margin-bottom:5px;
}

#textarea {
    resize:none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.559);
}